<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.plugins.tv4play</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexClientPlatforms</key>
	<string>*</string>
    <key>PlexPluginCodePolicy</key>
    <string>Elevated</string>
	<key>PlexFrameworkFlags</key>
	<array>
		<string>UseRealRTMP</string>
	</array>
	<key>PlexURLServices</key>
	<dict>
   		<key>tv4play</key>
   		<dict>
      		<key>Identifier</key>
      			<string>com.plexapp.plugins.tv4play</string>
      		<key>URLPattern</key>
      			<string>http://www.tv4play.se/program/.*video_id=[0-9]+</string>
   		</dict>
   		<key>PlexFrameworkFlags</key>
		<array>
			<string>UseRealRTMP</string>
		</array>
	</dict>
</dict>
</plist>
